flask
gunicorn
flask-cors
requests
requests-futures
gevent
semantic_version
pydantic
psycopg2
sqlalchemy
codecov
raven[flask]
git+https://github.com/fabric8-analytics/fabric8-analytics-worker.git@fdc0435
git+https://github.com/fabric8-analytics/fabric8-analytics-utils.git@1f45e6f
git+https://git@github.com/fabric8-analytics/fabric8-analytics-version-comparator.git#egg=f8a_version_comparator